<!-- Projects Start -->

<section id="{{ page.section-type }}" class="container content-section">
 <div class="text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{ page.content | markdownify }}
      </div>
    </div>
  </div>
 <div class = "container>
<div class="row-md-10 row-md-offset-1">
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">TileWarp</h3>
        <h1 class="badge badge-pill" style="margin-right:10px">Android</h1>
        <h1 class="badge badge-pill" style="margin-right:10px">Java</h1>
        <h1 class="badge badge-pill">XML</h1>
        <p class="card-text">TileWarp is a puzzle app that can be used as both a game and a learning tool. I developed it in eleventh grade with the help of two other students, a marketer and a designer, as a way to implement my Java knowledge. To build it, I used Android Studio, focusing on switch statements and array lists. It is now available in the <a href= "https://play.google.com/store/apps/details?id=com.weebly.httptilewarp.tilewarp&hl=en">Google Play Store</a>.</p>
        <a href="http://tilewarp.weebly.com/" class="btn btn-primary" style="margin-right:25px; margin-bottom:80px">App Website</a>
        <a href="https://github.com/ananda1066/TileWarp" class="btn btn-primary" style="margin-bottom:80px">Github</a>       
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
         <h3 class="card-title">Hello from the Outside</h3>
        <h1 class="badge badge-pill" style="margin-right:10px">Android</h1>
        <h1 class="badge badge-pill" style="margin-right:10px">Java</h1>
        <h1 class="badge badge-pill" style="margin-right:10px">XML</h1>
        <h1 class="badge badge-pill" style="margin-right:10px">Firebase</h1>
        <h1 class="badge badge-pill">Google Maps</h1>
        <p class="card-text">Hello from the Outside is an Android app my team built for Outside Hacks IV that can be used to locate friends at crowded events. We used Google Maps and Firebase to store locations of friends, as well as vibrations to sense how close your friends are. I focused on storing the various users' names using Shared Preferences.</p>
        <a href="http://hello-fromtheoutside.weebly.com/" class="btn btn-primary" style="margin-right:25px; margin-bottom:80px">App Website</a>
        <a href="https://github.com/ananda1066/HellofromtheOtherSide" class="btn btn-primary" style="margin-bottom:80px">Github</a> 
      </div>
    </div>
  </div>
</div>
 <div class="row-md-10 row-md-offset-1">
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
         <h3 class="card-title">Pseudo Snapchat Filter</h3>
        <h1 class="badge badge-pill" style="margin-right:10px">Python</h1>
        <h1 class="badge badge-pill">OpenCV</h1>
        <p class="card-text">This program was my team's winning submission for HKN BearHacks 2016. The program is built with Python and stems from a workshop hosted by HKN demoing a sample computer vision app. It has the ability to swap faces, as well as overlay a face with a different image, using the OpenCV library and image resizing to do so. </p>
        <a href="https://github.com/ananda1066/bearhacks_cvision" class="btn btn-primary" style="margin-bottom:40px">Github</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Project Scale</h3>
        <p class="card-text">Project Scale is my team's submission for HackDavis 2017. It is the combination of a website based in PHP and an Android app. The project is designed to help developers find others to work with them on projects. I focused on Google sign-in and experimenting with nav drawers for the app, as I had only a few hours to build it. </p>
        <a href="http://coreysmason.com/project-scale/" class="btn btn-primary" style="margin-right:25px; margin-bottom:40px">Website</a>
        <a href="https://github.com/ananda1066/the-network-android" class="btn btn-primary" style="margin-bottom:40px">Github</a> 
      </div>
    </div>

  </div>
                                                                                                                                 
        <h1 class="badge badge-pill badge-success" style="margin-right:10px">Android</h1>
        <h1 class="badge badge-pill" style="margin-right:10px">Java</h1>
        <h1 class="badge badge-pill" style="margin-right:10px">XML</h1>
                <h1 class="badge badge-pill" style="margin-right:10px">HTML</h1>
          <h1 class="badge badge-pill" style="margin-right:10px">CSS</h1>
          <h1 class="badge badge-pill" style="margin-right:10px">JavaScript</h1>                                                              
        <h1 class="badge badge-pill">PHP</h1>                                                                                                                    
</div>
</div>
</section>

<!-- Projects End -->
