<!-- Projects Start -->

<section id="{{ page.section-type }}" class="container content-section">
 <div class="text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{ page.content | markdownify }}
      </div>
    </div>
  </div>
 <div class = "container>
<div class="row-md-10 row-md-offset-1">
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">TileWarp</h3>
        <p class="card-text">TileWarp is a puzzle app that can be used as both a game and a learning tool. I developed it in eleventh grade with the help of two other students, a marketer and a designer, as a way to implement my Java knowledge. To build it, I used Android Studio, focusing on switch statements and array lists. It is now available in the <a href= "https://play.google.com/store/apps/details?id=com.weebly.httptilewarp.tilewarp&hl=en">Google Play Store</a>.</p>
        <div class = "chip">Android Studio</div>
        <a href="http://tilewarp.weebly.com/" class="btn btn-primary" style="margin-right:25px">App Website</a>
        <a href="https://github.com/ananda1066/TileWarp" class="btn btn-primary">Github</a>                                                               
      </div>
                   
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="margin-bottom:40px">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
 <div class="row-md-10 row-md-offset-1">
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="margin-bottom:20px">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="margin-bottom:20px">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- Projects End -->
